body {
  font-family: 'Euclid Square', sans-serif;
  margin: 0;
  padding: 0;

  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;

  hr {
    border: 1px solid var(--half_opacity_border);
    width: 100%;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

:root {
  --half_opacity_border_hover: #2196F3;
  --half_opacity_border_disabled: #0d3f67;
  --half_opacity_botton-border: rgba(255, 255, 255, 0.28);
  --half_opacity_right-border: rgba(255, 255, 255, 0.1);
  --half_opacity_border: rgba(255, 255, 255, 0.12);
  --half_opacity_bg: rgba(245, 245, 245, 0.03);
  --borber-color_main: #2196F3;
  --border-color_hover: #0f5abd;
  --border-color_disabled: #0e436b;
}

.action-btn {
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
  background: #2c2c2c;
  color: white;
}

.action-btn:hover:not(:disabled) {
  background: #3c3c3c;
}



.action-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.action-btn.confirm {
  padding: 6px 16px;
  background: var(--borber-color_main);
  color: #020b18;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  &.action-btn:hover {
    background: var(--border-color_hover);
  }
  &.action-btn:disabled {
    background: var(--border-color_disabled);
  }
}

.action-btn.danger {
  padding: 6px 16px;
  background: #efd31e;
  color: #020b18;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  &.action-btn:hover {
    background: #b09b15;
  }
}

.action-btn.close {
  padding: 6px 16px;
  background: #ef1e1e;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  &.action-btn:hover {
    background: #b01515;
  }
}

.modern-loader {
  width: 12px;
  height: 12px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #020b18;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: var(--borber-color_main);
  cursor: pointer;
}

.loading-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  border-top: 3px solid var(--borber-color_main);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}


