body {
  font-family: 'Euclid Square', sans-serif;
  margin: 0;
  padding: 0;

  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

* {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

:root {
  --half_opacity_botton-border: rgba(255, 255, 255, 0.28);
  --half_opacity_right-border: rgba(255, 255, 255, 0.1);
  --half_opacity_border: rgba(255, 255, 255, 0.24);
  --half_opacity_bg: rgba(245, 245, 245, 0.05);
}